In [1]:
import pandas as pd

In [18]:
df = pd.read_csv('pandas/employees.csv', parse_dates = ["Start Date", "Last Login Time"])

# df["Start Date"] = pd.to_datetime(df["Start Date"])
# df["Last Login Time"] =  pd.to_datetime(df["Last Login Time"])

df["Senior Management"] = df["Senior Management"].astype("bool")
df["Gender"] = df["Gender"].astype("category")
df["Team"] = df["Team"].astype("category")
df.head(3)

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,1993-08-06,2017-12-27 12:42:00,97308,6.945,True,Marketing
1,Thomas,Male,1996-03-31,2017-12-27 06:53:00,61933,4.170,True,NaN
2,Maria,Female,1993-04-23,2017-12-27 11:17:00,130590,11.858,False,Finance

## 59

In [ ]:
df = pd.read_csv('pandas/employees.csv')
df.head(3)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
First Name           933 non-null object
Gender               855 non-null category
Start Date           1000 non-null datetime64[ns]
Last Login Time      1000 non-null datetime64[ns]
Salary               1000 non-null int64
Bonus %              1000 non-null float64
Senior Management    1000 non-null bool
Team                 957 non-null category
dtypes: bool(1), category(2), datetime64[ns](2), float64(1), int64(1), object(1)
memory usage: 42.6+ KB

## 60 Filtering

In [19]:
df.head(3)

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,1993-08-06,2017-12-27 12:42:00,97308,6.945,True,Marketing
1,Thomas,Male,1996-03-31,2017-12-27 06:53:00,61933,4.170,True,NaN
2,Maria,Female,1993-04-23,2017-12-27 11:17:00,130590,11.858,False,Finance

In [22]:
df[df["Gender"] == "Male"] # extract values with only True value

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,1993-08-06,2017-12-27 12:42:00,97308,6.945,True,Marketing
1,Thomas,Male,1996-03-31,2017-12-27 06:53:00,61933,4.170,True,NaN
3,Jerry,Male,2005-03-04,2017-12-27 13:00:00,138705,9.340,True,Finance
4,Larry,Male,1998-01-24,2017-12-27 16:47:00,101004,1.389,True,Client Services
5,Dennis,Male,1987-04-18,2017-12-27 01:35:00,115163,10.125,False,Legal
12,Brandon,Male,1980-12-01,2017-12-27 01:08:00,112807,17.492,True,Human Resources
13,Gary,Male,2008-01-27,2017-12-27 23:40:00,109831,5.831,False,Sales
16,Jeremy,Male,2010-09-21,2017-12-27 05:56:00,90370,7.369,False,Human Resources
17,Shawn,Male,1986-12-07,2017-12-27 19:45:00,111737,6.414,False,Product
21,Matthew,Male,1995-09-05,2017-12-27 02:12:00,100612,13.645,False,Marketing
23,NaN,Male,2012-06-14,2017-12-27 16:19:00,125792,5.042,True,NaN
24,John,Male,1992-07-01,2017-12-27 22:08:00,97950,13.873,False,Client Services
25,NaN,Male,2012-10-08,2017-12-27 01:12:00,37076,18.576,True,Client Services
26,Craig,Male,2000-02-27,2017-12-27 07:45:00,37598,7.757,True,Marketing
28,Terry,Male,1981-11-27,2017-12-27 18:30:00,124008,13.464,True,Client Services
29,Benjamin,Male,2005-01-26,2017-12-27 22:06:00,79529,7.008,True,Legal
32,NaN,Male,1998-08-21,2017-12-27 14:27:00,122340,6.417,True,NaN
34,Jerry,Male,2004-01-10,2017-12-27 12:56:00,95734,19.096,False,Client Services
39,NaN,Male,2016-01-29,2017-12-27 02:33:00,122173,7.797,True,Client Services
40,Michael,Male,2008-10-10,2017-12-27 11:25:00,99283,2.665,True,Distribution
45,Roger,Male,1980-04-17,2017-12-27 11:32:00,88010,13.886,True,Sales
46,Bruce,Male,2009-11-28,2017-12-27 22:47:00,114796,6.796,False,Finance
48,Clarence,Male,1996-03-26,2017-12-27 05:57:00,93581,6.083,True,Business Development
52,Todd,Male,1990-02-18,2017-12-27 02:41:00,49339,1.695,True,Human Resources
56,Carl,Male,2006-05-03,2017-12-27 17:55:00,130276,16.084,True,Finance
57,Henry,Male,1996-06-26,2017-12-27 01:44:00,64715,15.107,True,Human Resources
63,Matthew,Male,2013-01-02,2017-12-27 22:33:00,35203,18.040,False,Human Resources
65,Steve,Male,2009-11-11,2017-12-27 23:44:00,61310,12.428,True,Distribution
68,Jose,Male,2004-10-30,2017-12-27 13:39:00,84834,14.330,True,Finance
71,Johnny,Male,2009-11-06,2017-12-27 16:23:00,118172,16.194,True,Sales
...,...,...,...,...,...,...,...,...
931,Harold,Male,2012-06-23,2017-12-27 12:40:00,140444,3.771,False,Distribution
934,Samuel,Male,1997-08-07,2017-12-27 12:40:00,43694,3.787,True,Engineering
940,Andrew,Male,1990-09-28,2017-12-27 09:38:00,137386,8.611,True,Distribution
941,William,Male,1997-06-26,2017-12-27 08:33:00,104840,15.653,True,Engineering
943,Wayne,Male,2006-09-08,2017-12-27 11:09:00,67471,2.728,False,Engineering
944,Kenneth,Male,2006-05-10,2017-12-27 08:24:00,101914,1.905,True,Distribution
947,NaN,Male,2012-07-30,2017-12-27 15:07:00,107351,5.329,True,Marketing
949,Scott,Male,2011-08-20,2017-12-27 08:08:00,37385,8.226,True,Business Development
953,Randy,Male,2012-02-25,2017-12-27 05:33:00,57266,14.077,False,Product
954,Joe,Male,1980-01-19,2017-12-27 16:06:00,119667,1.148,True,Finance
957,Jeffrey,Male,1984-02-03,2017-12-27 13:26:00,70990,15.901,True,Sales
959,Albert,Male,1992-09-19,2017-12-27 02:35:00,45094,5.850,True,Business Development
960,Stephen,Male,1989-10-29,2017-12-27 23:34:00,93997,18.093,True,Business Development
962,Jonathan,Male,2013-08-21,2017-12-27 00:45:00,121797,16.923,False,Product
964,Bruce,Male,1980-05-07,2017-12-27 20:00:00,35802,12.391,True,Sales
966,Louis,Male,2011-08-16,2017-12-27 17:19:00,93022,9.146,True,Human Resources
967,Thomas,Male,2016-03-12,2017-12-27 15:10:00,105681,19.572,False,Engineering
971,Patrick,Male,2002-12-30,2017-12-27 02:01:00,75423,5.368,True,Business Development
973,Russell,Male,2013-05-10,2017-12-27 23:08:00,137359,11.105,False,Business Development
974,Harry,Male,2011-08-30,2017-12-27 18:31:00,67656,16.455,True,Client Services
978,Sean,Male,1983-01-17,2017-12-27 14:23:00,66146,11.178,False,Human Resources
979,Ernest,Male,2013-07-20,2017-12-27 06:41:00,142935,13.198,True,Product
981,James,Male,1993-01-15,2017-12-27 17:19:00,148985,19.280,False,Legal
983,John,Male,1982-12-23,2017-12-27 22:35:00,146907,11.738,False,Engineering
992,Anthony,Male,2011-10-16,2017-12-27 08:35:00,112769,11.625,True,Finance
994,George,Male,2013-06-21,2017-12-27 17:47:00,98874,4.479,True,Marketing
996,Phillip,Male,1984-01-31,2017-12-27 06:30:00,42392,19.675,False,Finance
997,Russell,Male,2013-05-20,2017-12-27 12:39:00,96914,1.421,False,Product
998,Larry,Male,2013-04-20,2017-12-27 16:45:00,60500,11.985,False,Business Development
999,Albert,Male,2012-05-15,2017-12-27 18:24:00,129949,10.169,True,Sales

In [23]:
df[df["Team"] == "Finance"]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
2,Maria,Female,1993-04-23,2017-12-27 11:17:00,130590,11.858,False,Finance
3,Jerry,Male,2005-03-04,2017-12-27 13:00:00,138705,9.340,True,Finance
7,NaN,Female,2015-07-20,2017-12-27 10:43:00,45906,11.598,True,Finance
14,Kimberly,Female,1999-01-14,2017-12-27 07:13:00,41426,14.543,True,Finance
46,Bruce,Male,2009-11-28,2017-12-27 22:47:00,114796,6.796,False,Finance
53,Alan,NaN,2014-03-03,2017-12-27 13:28:00,40341,17.578,True,Finance
56,Carl,Male,2006-05-03,2017-12-27 17:55:00,130276,16.084,True,Finance
67,Rachel,Female,1999-08-16,2017-12-27 06:53:00,51178,9.735,True,Finance
68,Jose,Male,2004-10-30,2017-12-27 13:39:00,84834,14.330,True,Finance
69,Irene,NaN,2015-07-14,2017-12-27 16:31:00,100863,4.382,True,Finance
83,Shawn,Male,2005-09-23,2017-12-27 02:55:00,148115,6.539,True,Finance
84,Doris,Female,2004-08-20,2017-12-27 05:51:00,83072,7.511,False,Finance
96,Cynthia,Female,1994-03-21,2017-12-27 08:34:00,142321,1.737,False,Finance
100,Melissa,Female,2005-06-21,2017-12-27 06:33:00,48109,14.995,False,Finance
103,Phyllis,Female,1996-10-11,2017-12-27 21:30:00,136984,8.932,True,Finance
105,Kathy,Female,1996-03-09,2017-12-27 04:33:00,91712,8.567,False,Finance
117,Steven,Male,1995-03-01,2017-12-27 15:03:00,109095,9.494,False,Finance
142,Elizabeth,Female,2003-10-09,2017-12-27 17:53:00,146129,5.687,False,Finance
153,Victor,NaN,2011-03-10,2017-12-27 20:40:00,84546,10.489,True,Finance
160,Kathy,Female,2000-03-18,2017-12-27 19:26:00,149563,16.991,True,Finance
172,Sara,Female,1991-09-23,2017-12-27 18:17:00,97058,9.402,False,Finance
179,Jessica,Female,1995-10-23,2017-12-27 05:53:00,68759,19.343,True,Finance
190,Carol,Female,1996-03-19,2017-12-27 03:39:00,57783,9.129,False,Finance
200,Gary,Male,1987-08-12,2017-12-27 00:04:00,89661,8.525,False,Finance
205,Brandon,Male,2006-03-27,2017-12-27 17:54:00,115711,8.012,True,Finance
218,Gregory,NaN,1992-06-15,2017-12-27 05:08:00,98865,10.628,True,Finance
219,Billy,Male,1995-03-13,2017-12-27 12:05:00,120444,7.768,True,Finance
222,Jason,Male,1999-10-17,2017-12-27 22:09:00,78417,3.067,False,Finance
226,Kathy,Female,1995-04-19,2017-12-27 00:46:00,50905,9.404,True,Finance
241,Walter,Male,1983-07-06,2017-12-27 23:54:00,127813,5.961,False,Finance
...,...,...,...,...,...,...,...,...
710,Edward,Male,1997-11-27,2017-12-27 01:00:00,58327,17.095,True,Finance
725,Jeremy,Male,1991-05-19,2017-12-27 13:40:00,131513,1.876,True,Finance
731,Ann,Female,2001-07-16,2017-12-27 09:27:00,118431,12.772,True,Finance
732,Henry,Male,1986-05-12,2017-12-27 02:04:00,59943,1.432,False,Finance
744,Judy,NaN,2011-07-15,2017-12-27 15:38:00,46829,5.190,True,Finance
765,Alice,NaN,1995-04-23,2017-12-27 06:35:00,148339,11.479,True,Finance
773,NaN,Male,1986-10-24,2017-12-27 09:23:00,47176,10.736,True,Finance
775,Rose,Female,1999-11-03,2017-12-27 09:06:00,75181,6.060,True,Finance
790,Fred,Male,1989-03-03,2017-12-27 02:27:00,129712,11.058,False,Finance
807,Mary,Female,2011-11-06,2017-12-27 08:32:00,115057,2.089,False,Finance
809,George,Male,1995-09-27,2017-12-27 17:04:00,36749,19.754,False,Finance
831,Kenneth,Male,2015-01-15,2017-12-27 14:41:00,69112,7.588,True,Finance
836,Carolyn,Female,2004-03-17,2017-12-27 06:38:00,118037,13.492,False,Finance
837,Joseph,Male,1985-05-23,2017-12-27 22:16:00,139570,15.804,True,Finance
847,Nicole,NaN,1981-05-02,2017-12-27 12:03:00,41449,4.707,False,Finance
854,Harry,Male,1985-02-10,2017-12-27 19:46:00,63046,10.411,False,Finance
856,Bonnie,NaN,2006-01-18,2017-12-27 18:52:00,108946,12.211,False,Finance
861,Jerry,Male,1989-03-26,2017-12-27 04:15:00,140850,18.855,False,Finance
880,Robert,NaN,2007-05-25,2017-12-27 03:17:00,90998,8.382,False,Finance
884,Lisa,Female,2003-10-17,2017-12-27 13:42:00,73706,18.530,False,Finance
889,Margaret,Female,2001-01-04,2017-12-27 03:07:00,126924,1.552,True,Finance
890,NaN,Male,2015-11-24,2017-12-27 03:11:00,145329,7.100,True,Finance
891,Timothy,Male,1991-08-25,2017-12-27 10:37:00,92587,8.475,False,Finance
897,Kenneth,NaN,1994-02-28,2017-12-27 10:10:00,95296,10.146,False,Finance
905,Alice,Female,2013-02-09,2017-12-27 00:49:00,121250,4.363,True,Finance
907,Elizabeth,Female,1998-07-27,2017-12-27 11:12:00,137144,10.081,False,Finance
954,Joe,Male,1980-01-19,2017-12-27 16:06:00,119667,1.148,True,Finance
987,Gloria,Female,2014-12-08,2017-12-27 05:08:00,136709,10.331,True,Finance
992,Anthony,Male,2011-10-16,2017-12-27 08:35:00,112769,11.625,True,Finance
996,Phillip,Male,1984-01-31,2017-12-27 06:30:00,42392,19.675,False,Finance

In [28]:
mask = df["Team"] == "Finance"
df[mask]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
2,Maria,Female,1993-04-23,2017-12-27 11:17:00,130590,11.858,False,Finance
3,Jerry,Male,2005-03-04,2017-12-27 13:00:00,138705,9.340,True,Finance
7,NaN,Female,2015-07-20,2017-12-27 10:43:00,45906,11.598,True,Finance
14,Kimberly,Female,1999-01-14,2017-12-27 07:13:00,41426,14.543,True,Finance
46,Bruce,Male,2009-11-28,2017-12-27 22:47:00,114796,6.796,False,Finance
53,Alan,NaN,2014-03-03,2017-12-27 13:28:00,40341,17.578,True,Finance
56,Carl,Male,2006-05-03,2017-12-27 17:55:00,130276,16.084,True,Finance
67,Rachel,Female,1999-08-16,2017-12-27 06:53:00,51178,9.735,True,Finance
68,Jose,Male,2004-10-30,2017-12-27 13:39:00,84834,14.330,True,Finance
69,Irene,NaN,2015-07-14,2017-12-27 16:31:00,100863,4.382,True,Finance
83,Shawn,Male,2005-09-23,2017-12-27 02:55:00,148115,6.539,True,Finance
84,Doris,Female,2004-08-20,2017-12-27 05:51:00,83072,7.511,False,Finance
96,Cynthia,Female,1994-03-21,2017-12-27 08:34:00,142321,1.737,False,Finance
100,Melissa,Female,2005-06-21,2017-12-27 06:33:00,48109,14.995,False,Finance
103,Phyllis,Female,1996-10-11,2017-12-27 21:30:00,136984,8.932,True,Finance
105,Kathy,Female,1996-03-09,2017-12-27 04:33:00,91712,8.567,False,Finance
117,Steven,Male,1995-03-01,2017-12-27 15:03:00,109095,9.494,False,Finance
142,Elizabeth,Female,2003-10-09,2017-12-27 17:53:00,146129,5.687,False,Finance
153,Victor,NaN,2011-03-10,2017-12-27 20:40:00,84546,10.489,True,Finance
160,Kathy,Female,2000-03-18,2017-12-27 19:26:00,149563,16.991,True,Finance
172,Sara,Female,1991-09-23,2017-12-27 18:17:00,97058,9.402,False,Finance
179,Jessica,Female,1995-10-23,2017-12-27 05:53:00,68759,19.343,True,Finance
190,Carol,Female,1996-03-19,2017-12-27 03:39:00,57783,9.129,False,Finance
200,Gary,Male,1987-08-12,2017-12-27 00:04:00,89661,8.525,False,Finance
205,Brandon,Male,2006-03-27,2017-12-27 17:54:00,115711,8.012,True,Finance
218,Gregory,NaN,1992-06-15,2017-12-27 05:08:00,98865,10.628,True,Finance
219,Billy,Male,1995-03-13,2017-12-27 12:05:00,120444,7.768,True,Finance
222,Jason,Male,1999-10-17,2017-12-27 22:09:00,78417,3.067,False,Finance
226,Kathy,Female,1995-04-19,2017-12-27 00:46:00,50905,9.404,True,Finance
241,Walter,Male,1983-07-06,2017-12-27 23:54:00,127813,5.961,False,Finance
...,...,...,...,...,...,...,...,...
710,Edward,Male,1997-11-27,2017-12-27 01:00:00,58327,17.095,True,Finance
725,Jeremy,Male,1991-05-19,2017-12-27 13:40:00,131513,1.876,True,Finance
731,Ann,Female,2001-07-16,2017-12-27 09:27:00,118431,12.772,True,Finance
732,Henry,Male,1986-05-12,2017-12-27 02:04:00,59943,1.432,False,Finance
744,Judy,NaN,2011-07-15,2017-12-27 15:38:00,46829,5.190,True,Finance
765,Alice,NaN,1995-04-23,2017-12-27 06:35:00,148339,11.479,True,Finance
773,NaN,Male,1986-10-24,2017-12-27 09:23:00,47176,10.736,True,Finance
775,Rose,Female,1999-11-03,2017-12-27 09:06:00,75181,6.060,True,Finance
790,Fred,Male,1989-03-03,2017-12-27 02:27:00,129712,11.058,False,Finance
807,Mary,Female,2011-11-06,2017-12-27 08:32:00,115057,2.089,False,Finance
809,George,Male,1995-09-27,2017-12-27 17:04:00,36749,19.754,False,Finance
831,Kenneth,Male,2015-01-15,2017-12-27 14:41:00,69112,7.588,True,Finance
836,Carolyn,Female,2004-03-17,2017-12-27 06:38:00,118037,13.492,False,Finance
837,Joseph,Male,1985-05-23,2017-12-27 22:16:00,139570,15.804,True,Finance
847,Nicole,NaN,1981-05-02,2017-12-27 12:03:00,41449,4.707,False,Finance
854,Harry,Male,1985-02-10,2017-12-27 19:46:00,63046,10.411,False,Finance
856,Bonnie,NaN,2006-01-18,2017-12-27 18:52:00,108946,12.211,False,Finance
861,Jerry,Male,1989-03-26,2017-12-27 04:15:00,140850,18.855,False,Finance
880,Robert,NaN,2007-05-25,2017-12-27 03:17:00,90998,8.382,False,Finance
884,Lisa,Female,2003-10-17,2017-12-27 13:42:00,73706,18.530,False,Finance
889,Margaret,Female,2001-01-04,2017-12-27 03:07:00,126924,1.552,True,Finance
890,NaN,Male,2015-11-24,2017-12-27 03:11:00,145329,7.100,True,Finance
891,Timothy,Male,1991-08-25,2017-12-27 10:37:00,92587,8.475,False,Finance
897,Kenneth,NaN,1994-02-28,2017-12-27 10:10:00,95296,10.146,False,Finance
905,Alice,Female,2013-02-09,2017-12-27 00:49:00,121250,4.363,True,Finance
907,Elizabeth,Female,1998-07-27,2017-12-27 11:12:00,137144,10.081,False,Finance
954,Joe,Male,1980-01-19,2017-12-27 16:06:00,119667,1.148,True,Finance
987,Gloria,Female,2014-12-08,2017-12-27 05:08:00,136709,10.331,True,Finance
992,Anthony,Male,2011-10-16,2017-12-27 08:35:00,112769,11.625,True,Finance
996,Phillip,Male,1984-01-31,2017-12-27 06:30:00,42392,19.675,False,Finance

In [29]:
mask = df["Senior Management"]
df[mask]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

## 61

In [ ]:
df = pd.read_csv('pandas/employees.csv')
df.head(3)

## 62

In [ ]:
df = pd.read_csv('pandas/employees.csv')
df.head(3)

## 63

## 64

In [ ]:
df = pd.read_csv('pandas/employees.csv')
df.head(3)

## 65

In [ ]:
df = pd.read_csv('pandas/employees.csv')
df.head(3)

## 66

In [ ]:
df = pd.read_csv('pandas/employees.csv')
df.head(3)

## 67

In [ ]:
df = pd.read_csv('pandas/employees.csv')
df.head(3)

## 68

In [ ]:
df = pd.read_csv('pandas/employees.csv')
df.head(3)

## 69

In [ ]:
df = pd.read_csv('pandas/employees.csv')
df.head(3)

## 70

In [ ]:
df = pd.read_csv('pandas/employees.csv')
df.head(3)

In [ ]:
df = pd.read_csv('pandas/employees.csv')
df.head(3)

In [ ]:
df = pd.read_csv('pandas/employees.csv')
df.head(3)

In [ ]:
df = pd.read_csv('pandas/employees.csv')
df.head(3)